/* code for video background from https://startbootstrap.com/snippets/video-header/ */
header {
position: relative;
background-color: black;
height: 100vh;
min-height: 25rem;
width: 100%;
overflow: hidden;
}

header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
header {
background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
}
header video {
display: none;
}
}





body {
    font-family: sans-serif;
    color: white;
    margin: 0 auto;
    background-color: rgb(48, 47, 108);
}


#filter {
    margin-bottom: 2em;
}

.search-container {
    margin: 1em;
    padding: 3px;
    /* background: linear-gradient(21deg, #10abff, #1beabd); */
    /* border-radius: 9999em; */
    /* display: inline-block; */
    /* position: absolute; */
    /* left: 25%;  */
}

#artist-search {
    font-size: 2em;
    position: relative;
    display: inline-block;
    border-radius: 9999em;
    margin: 0 auto;
    border: 2px rgba(215, 75, 98, 0.824) solid;
    outline: none;
    padding: 0 .325em;
    z-index: 1;
}



.select-track {

}

#track-list {
    /* border: 3px purple solid; for testing  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
}

.track {
    display: inline-block;
    width: 20em;
    height: 20em;
    margin: 1.5em;
    padding: 1em;
    border: 3px  rgb(51, 134, 169) solid;
    border-radius: 2em;
}

.unstyled {
    list-style: none;
    /* border: 3px yellow solid; for testing */

}

.cover-image-div {
    text-align: center;
    /* border: 3px orange solid; for testing */
}

.coverArt {
    box-shadow: 4px 4px 4px rgba(26, 25, 25, 0.89);
    margin: 1em;
}

.track-details {
    /* border: 3px green solid; for testing */
    margin: 5px;
}

.button-div {
    text-align: center;
    /* border: 3px skyblue solid; for testing */
}

.play-button {
    border-radius: 1em;
    
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}